{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

<!-- SIGN UP PAGE -->

{% block content %}
<div class="container max-login-width">
  <h3 class="text-center">{% trans "Sign Up" %}</h3>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary w-100 mb-2" type="submit">{% trans "Sign Up" %}</button>
    <p class="text-center">{% blocktrans %}Already a User? <a class="link" href="{{ login_url }}">Sign In
        here</a>{% endblocktrans %}</p>
  </form>
</div>

{% endblock %}