@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* GENERAL */

body {
    font-family: "Inter", sans-serif;
    color: #333;
}

/* GENERAL */

/* STYLES */

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 48px;
}

/* STYLES */

/* COMPONENTS */

.btn-outline-primary {
    background-color: #F9FFFC;
    border-color: #37B571;
    font-weight: 600;
    color: #37B571;
}

.btn-outline-primary:hover {
    background-color: #37B571;
    border-color: #37B571;
    color: #fff;
}

/* COMPONENTS */

/* NAV */

.navbar {
    border-bottom: 1px solid #D9D9D9;
}

.navbar-nav {
    font-size: 1rem;
    font-weight: 600;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    font-weight: 400;
}

/* NAV */

/* FOOTER */

.footer {
    margin-top: 200px;
}

.icon-facebook {
    height: 28px;
    width: 28px;
    background: url('../images/icons/social-facebook.svg') no-repeat center center;
}

.icon-instagram {
    height: 28px;
    width: 28px;
    background: url('../images/icons/social-instagram.svg') no-repeat center center;
}

.icon-twitter {
    height: 28px;
    width: 28px;
    background: url('../images/icons/social-twitter.svg') no-repeat center center;
}

/* FOOTER */

/* POST LIST */

.site-content {
    margin: 100px 0 ;
}

.row .card {
    padding: 0;
}

.card-title {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.author {
    font-weight: 600;
}

/* POST LIST */

/* POST DETAIL */

.max-article-width {
    max-width: 700px;
}

.post-content {
    margin-top: 3.5rem;
}

.author span {
    font-weight: 400;
}

/* POST DETAIL */