{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid error-bg">
    <div class="content-box d-flex justify-content-center align-items-center">
        <div>
            <h1 class="text-center">4<span class="text-highlight">0</span>4</h1>
            <p class="subline text-center">Hey there, looks like you got lost!</p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-primary">Go Back to Homepage</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}