{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DietaryYou</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- HEADER -->

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand logo" href="{% url 'home' %}">Dietary<span>You</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="align-self-center nav-item-space">
                        <a class="btn btn-outline-primary" aria-current="page" href="{% url 'add_post' %}">New Post <svg
                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_969_558)">
                                    <path d="M0 8C0 8.26522 0.105357 8.51957 0.292893 8.70711C0.48043 
                                        8.89464 0.734784 9 1 9H6.83333C6.87754 9 6.91993 9.01756 6.95118 
                                        9.04882C6.98244 9.08007 7 9.12246 7 9.16667V15C7 15.2652 7.10536 
                                        15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 
                                        8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V9.16667C9 
                                        9.12246 9.01756 9.08007 9.04882 9.04882C9.08007 9.01756 9.12246 9 9.16667 
                                        9H15C15.2652 9 15.5196 8.89464 15.7071 8.70711C15.8946 8.51957 16 8.26522 
                                        16 8C16 7.73478 15.8946 7.48043 15.7071 7.29289C15.5196 7.10536 15.2652 7 
                                        15 7H9.16667C9.12246 7 9.08007 6.98244 9.04882 6.95118C9.01756 6.91993 9 
                                        6.87754 9 6.83333V1C9 0.734784 8.89464 0.48043 8.70711 0.292893C8.51957 
                                        0.105357 8.26522 0 8 0C7.73478 0 7.48043 0.105357 7.29289 0.292893C7.10536 
                                        0.48043 7 0.734784 7 1V6.83333C7 6.87754 6.98244 6.91993 6.95118 6.95118C6.91993 
                                        6.98244 6.87754 7 6.83333 7H1C0.734784 7 0.48043 7.10536 0.292893 7.29289C0.105357 
                                        7.48043 0 7.73478 0 8Z" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_969_558">
                                        <rect width="16" height="16" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a class="nav-link active" aria-current="page" href="{% url 'user_account' %}">
                            {% if "placeholder" in user.userprofile.profile_image.url %}
                            <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="nav-profile-image" alt="Placeholder for user profile image">
                            {% else %}
                            <img src="{{ user.userprofile.profile_image.url }}" class="nav-profile-image" alt="User profile image">
                            {% endif %}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item nav-item-space">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                    </li>
                    <li class="nav-item nav-item-space">
                        <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- ALERTS  -->

    {% if messages %}
    <div class="container alert-display fixed-top">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}


    <!-- CONTENT -->

    <main class="site-content">
        {% block content %}

        {% endblock content %}
    </main>

    <!-- FOOTER -->

    <footer class="footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <p>©DietaryYou</p>
                </div>
                <div class="col-4 float-end">
                    <ul class="list-unstyled list-inline float-end">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" target="_blank" aria-label="link to instagram account">
                                <div class="icon-instagram"></div>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" target="_blank" aria-label="link to twitter account">
                                <div class="icon-twitter"></div>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" target="_blank" aria-label="link to facebook account">
                                <div class="icon-facebook"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</body>

</html>