{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- BLOG PAGE -->

<div class="container">
    <h3 class="text-center">All Blog Posts</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for post in post_list %}
        <div class="col">
            <div class="card border-0">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/placeholder-image.jpg' %}" class="card-img-top" alt="Placeholder image for teaser post">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="Image for teaser post">
                {% endif %}
                <div class="card-body px-0">
                    <div>
                        {% if "placeholder" in post.author.userprofile.profile_image.url %}
                        <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="post-profile-image" alt="Placeholder for user profile image">
                        {% else %}
                        <img src="{{ post.author.userprofile.profile_image.url }}" class="post-profile-image" alt="User profile image">
                        {% endif %}
                        <a href="{% url 'public_user_profile' post.author %}" class="author">{{ post.author }}</a> <span
                            class="float-end">{{ post.created_on.date}}</span>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="card-title">{{ post.title }}</a>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <hr>
                    <div>
                        <p class="card-text text-muted d-inline-block like-display"><img src="{% static 'images/icons/icon-like.svg' %}" alt="Number of likes">
                            {{ post.number_of_likes }}</p>
                        <p class="card-text text-muted d-inline-block">
                            <img src="{% static 'images/icons/icon-comment.svg' %}" alt="Number of comments">
                            {{ post.approved_comments }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}