{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- HERO SECTION -->

<div class="container-fluid hero-bg">
    <div class="container">
        <div class="row hero">
            <div class="col-xs-12 col-md-5 align-self-center">
                <h1 class="hero-headline">Join and <span>become</span> <br> part of our <br> <span>healthy</span>
                    community
                </h1>
                <p class="subline">Explore different diets by exchanging recipes and helpful tips.</p>
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Join Now</a>
            </div>
            <div class="d--none d-md-block col-md-1 col-sm-0">

            </div>
            <div class="d-none d-md-block col-md-6 align-self-center">
                <img src="{% static 'images/hero-image.jpg' %}" class="hero-img" alt="Hero image">
            </div>
        </div>
    </div>
</div>

<div class="container hp-posts-section">

    <!-- MOST POPULAR POST SECTION -->

    <h3 class="text-center">Most Popular Posts</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-2 g-4">
        {% for post in popular_posts %}
        <div class="col">
            <div class="card border-0">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/placeholder-image.jpg' %}" class="card-img-top" alt="Placeholder image for teaser post">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="Image for teaser post">
                {% endif %}
                <div class="card-body px-0">
                    <div>
                        {% if "placeholder" in post.author.userprofile.profile_image.url %}
                        <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="post-profile-image" alt="Placeholder for user profile image">
                        {% else %}
                        <img src="{{ post.author.userprofile.profile_image.url }}" class="post-profile-image" alt="User profile image">
                        {% endif %}
                        <a href="{% url 'public_user_profile' post.author %}" class="author">{{ post.author }}</a> <span
                            class="float-end">{{ post.created_on.date}}</span>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="card-title">{{ post.title }}</a>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <hr>
                    <div>
                        <p class="card-text text-muted d-inline-block like-display">
                            <img src="{% static 'images/icons/icon-like.svg' %}" alt="Number of likes">
                            {{ post.number_of_likes }}</p>
                        <p class="card-text text-muted d-inline-block">
                            <img src="{% static 'images/icons/icon-comment.svg' %}" alt="Number of comments">
                            {{ post.approved_comments }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'account_signup' %}" class="btn btn-outline-primary">Ready to join?</a>
    </div>

    <!-- LATEST POST SECTION -->

    <h3 class="text-center">Latest Posts</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-2 g-4">
        {% for post in latest_posts %}
        <div class="col">
            <div class="card border-0">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/placeholder-image.jpg' %}" class="card-img-top" alt="Placeholder image for teaser post">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="card-img-top" alt="Image for teaser post">
                {% endif %}
                <div class="card-body px-0">
                    <div>
                        {% if "placeholder" in post.author.userprofile.profile_image.url %}
                        <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="post-profile-image" alt="Placeholder for user profile image">
                        {% else %}
                        <img src="{{ post.author.userprofile.profile_image.url }}" class="post-profile-image" alt="User profile image">
                        {% endif %}
                        <a href="{% url 'public_user_profile' post.author %}" class="author">{{ post.author }}</a> <span
                            class="float-end">{{ post.created_on.date}}</span>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="card-title">{{ post.title }}</a>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <hr>
                    <div>
                        <p class="card-text text-muted d-inline-block like-display">
                            <img src="{% static 'images/icons/icon-like.svg' %}" alt="Number of likes">
                            {{ post.number_of_likes }}</p>
                        <p class="card-text text-muted d-inline-block">
                            <img src="{% static 'images/icons/icon-comment.svg' %}" alt="Number of comments">
                            {{ post.approved_comments }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'account_signup' %}" class="btn btn-outline-primary d-block mx-auto mb-5">Ready to join?</a>
    </div>
</div>
{%endblock%}