{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container max-article-width">
    <div class="post-head">
        <div class="row">
            <div class="col-10">
                <h2 class="d-inline">{{ post.title }}</h2>
            </div>
            <div class="col-2">
                <a href="{% url 'edit_post' post.slug %}" class="float-end btn edit-link">
                    <img src="../static/images/icons/icon-edit.svg" alt="Edit">
                </a>
            </div>
        </div>
        <p class="author">{{ post.author }}<span> | {{ post.created_on}}</span></p>
        <hr>
        <div>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" class="button-liked" name="blogpost_id" value="{{post.slug}}"><img
                        src="../static/images/icons/icon-liked.svg" alt=""> {{ post.number_of_likes }}</button>

                {% else %}
                <button type="submit" class="button-like" name="blogpost_id" value="{{post.slug}}"><img
                        src="../static/images/icons/icon-like.svg" alt=""> {{ post.number_of_likes }}</button>

                {% endif %}
            </form>
            {% else %}

            <span class="like-display"><img src="../static/images/icons/icon-like.svg" alt="">
                {{ post.number_of_likes }}</span>
            {% endif %}

            {% with comments.count as total_comments %}
            <a href="#comment-section-link" class="card-text post-body comment-link"><img
                    src="../static/images/icons/icon-comment.svg" alt="">
                {{ total_comments }}</a>
            {% endwith %}
        </div>
    </div>
    <div class="post-content">
        {{ post.content | safe }}
        <hr>
    </div>

    <div class="post-comments" id="comment-section-link">
        <h3>Comments</h3>
        <div class="row">
            {% for comment in comments %}
            <div class="col-md-12 order-md-2">
                <p class="comment-author">{{ comment.name }} <span class="comment-date">|
                        {{ comment.created_on }}</span></p>

                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
            <div class="col-md-12 mb-5 order-md-1">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary float-end">Comment</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}