{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container max-article-width">
    <div class="post-head">
        <div class="row">
            <div class="col-10">
                <h2 class="d-inline">{{ post.title }}</h2>
            </div>
            {% if user.is_authenticated and post.author.id == user.id %}
            <div class="col-2 pt-2">
                <a href="{% url 'edit_post' post.slug %}" class="float-end btn btn-sm icon-hover">
                    <img src="{% static 'images/icons/icon-edit.svg' %}" alt="Edit post">
                </a>
                <a href="{% url 'delete_post' post.slug %}" class="float-end btn btn-sm icon-hover">
                    <img src="{% static 'images/icons/icon-delete.svg' %}" alt="Delete post">
                </a>
            </div>
            {% endif %}
        </div>
        <div class="mt-2">
            {% if "placeholder" in post.author.userprofile.profile_image.url %}
            <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="post-profile-image" alt="Placeholder for user profile image">
            {% else %}
            <img src="{{ post.author.userprofile.profile_image.url }}" class="post-profile-image" alt="User profile image">
            {% endif %}
            <a href="{% url 'public_user_profile' post.author %}" class="author">{{ post.author }}</a><span> |
                {{ post.created_on}}</span>
        </div>
        <hr>
        <div>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" class="button-liked" name="blogpost_id" value="{{post.slug}}">
                    <img src="{% static 'images/icons/icon-liked.svg' %}" alt="Liked Post"> {{ post.number_of_likes }}</button>

                {% else %}
                <button type="submit" class="button-like" name="blogpost_id" value="{{post.slug}}">
                    <img src="{% static 'images/icons/icon-like.svg' %}" alt="Not liked post"> {{ post.number_of_likes }}</button>

                {% endif %}
            </form>
            {% else %}

            <span class="like-display"><img src="{% static 'images/icons/icon-like.svg' %}" alt="Number of likes">
                {{ post.number_of_likes }}</span>
            {% endif %}

            {% with comments.count as total_comments %}
            <a href="#comment-section-link" class="card-text post-body comment-link">
                <img src="{% static 'images/icons/icon-comment.svg' %}" alt="Comment Icon">
                {{ total_comments }}</a>
            {% endwith %}
        </div>
    </div>
    <div class="post-content">
        {{ post.content | safe }}
        <hr>
    </div>

    <div class="post-comments" id="comment-section-link">
        <h3>Comments</h3>
        <div class="row">
            {% for comment in comments %}
            <div class="col-md-12 order-md-2">
                <p class="comment-author">{{ comment.name }} <span class="comment-date">|
                        {{ comment.created_on.date }}</span></p>

                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
            <div class="col-md-12 mb-5 order-md-1">
                {% if commented %}
                <div class="alert alert-info" role="alert">
                    You have 1 or more comments pending for an approval.
                </div>
                {% if user.is_authenticated %}

                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary float-end">Comment</button>
                </form>
                {% endif %}
                {% else %}
                {% if user.is_authenticated %}

                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary float-end">Comment</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}