{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container max-window-width">
    <h3 class="text-center">Settings</h3>
    <div class="w-100 mb-4">
        <ul class="d-flex mb-0 list-unstyled">
            <li>
                <a class="nav-link" href="{% url 'user_account' %}">Account</a>
            </li>
            <li class="nav-item-space">
                <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                <span style="display: block; height: 4px; width: 100%; background-color: green"></span>
            </li>
        </ul>
        <hr class="mt-0">
    </div>
        <div class="row mb-4">
            <div class="col-2 profile-image">
                {% if "placeholder" in profiles.profile_image.url %}
                <img src="{% static 'images/icons/placeholder-settings.svg' %}">
                {% else %}
                <img src="{{ userprofile.profile_image.url }}">
                {% endif %}
            </div>
            <div class="col-9">
                <h4>{{ user.username }}</h4>
            </div>
            <div class="col-1">
                <a href="#" class="float-end btn btn-sm icon-hover">
                    <img src="{% static 'images/icons/icon-edit.svg' %}" alt="Edit user profile"></a>
            </div>
        </div>
    <div>
        <p class="profile-details-label">Bio</p>
        <p>{{ userprofile }}</p>
    </div>
    <div>
        <p class="profile-details-label">Hobbies</p>
        <p"></p>
    </div>
    <div>
        <p class="profile-details-label">Location</p>
        <p"></p>
    </div>
</div>

{%endblock%}