{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

<!-- USER ACCOUNT PAGE -->

<div class="container max-window-width">
    <h3 class="text-center">Settings</h3>

    <!-- NAVIGATION -->

    <div class="w-100 mb-4">
        <ul class="d-flex mb-0 list-unstyled">
            <li>
                <a class="nav-link" href="{% url 'user_account' %}">Account</a>
                <span class="nav-highlight"></span>
            </li>
            <li class="nav-item-space">
                <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
            </li>
            <li class="nav-item-space">
                <a class="nav-link" href="{% url 'user_posts' %}">Posts</a>
            </li>
        </ul>
        <hr class="mt-0">
    </div>

    <!-- ACCOUNT SECTION -->

    <div>
        <p class="account-details-label">Username</p>
        <p class="account-details">{{ user.username }}</p>
    </div>
    <div class="row mb-2">
        <div class="col-10">
            <p class="account-details-label">Email</p>
            {% if user.email %}
            <p class="account-details">{{ user.email }}</p>
            {% else %}
            <p class="account-details">Currently no email address added</p>
            {% endif %}
        </div>
        <div class="col-2">
            <a href="{% url 'account_email' %}" class="float-end btn btn-sm icon-hover">
                <img src="{% static 'images/icons/icon-edit.svg' %}" alt="Edit email address"></a>
        </div>
    </div>
    <div>
        <h4>Password</h4>
        <a href="{% url 'account_change_password' %}" class="btn btn-outline-primary">Change Password</a>
    </div>
    <div class="mt-5">
        <a class="logout-link" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
    </div>


</div>
{%endblock%}