{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container max-window-width">
    <h3 class="text-center">Settings</h3>
    <div class="w-100 mb-4">
        <ul class="d-flex mb-0 list-unstyled">
            <li>
                <a class="nav-link" href="{% url 'user_account' %}">Account</a>
            </li>
            <li class="nav-item-space">
                <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                <span class="nav-highlight"></span>
            </li>
            <li class="nav-item-space">
                <a class="nav-link" href="{% url 'user_posts' %}">Posts</a>
            </li>
        </ul>
        <hr class="mt-0">
    </div>
        <div class="row mb-4">
            <div class="col-3">
                {% if "placeholder" in user_profile_data.profile_image.url %}
                <img src="{% static 'images/icons/placeholder-settings.svg' %}" class="profile-image"  alt="Placeholder for user profile image">
                {% else %}
                <img src="{{ user_profile_data.profile_image.url }}" class="profile-image"  alt="User profile image">
                {% endif %}
            </div>
            <div class="col-8 px-0">
                {% if user_profile_data.full_name %}
                <h4>{{ user_profile_data.full_name }}</h4>
                {% else %}
                <h4>{{ user.username }}</h4>
                {% endif %}
            </div>
            <div class="col-1 px-0 align-self-center">
                <a href="{% url 'edit_profile' user_profile_data.slug %}" class="float-end btn btn-sm icon-hover">
                    <img src="{% static 'images/icons/icon-edit.svg' %}" alt="Edit user profile"></a>
            </div>
        </div>
    <div>
        <p class="profile-details-label">Bio</p>
        {% if user_profile_data.bio %}
        <p>{{ user_profile_data.bio }}</p>
        {% else %}
        <p>N/A</p>
        {% endif %}
    </div>
    <div>
        <p class="profile-details-label">Hobbies</p>
        {% if user_profile_data.hobbies %}
        <p>{{ user_profile_data.hobbies }}</p>
        {% else %}
        <p>N/A</p>
        {% endif %}
    </div>
    <div>
        <p class="profile-details-label">Location</p>
        {% if user_profile_data.location %}
        <p>{{ user_profile_data.location }}</p>
        {% else %}
        <p>N/A</p>
        {% endif %}
    </div>
</div>

{%endblock%}